﻿@model O_ScavProtoType.Model.POI
@using O_ScavProtoType.Model

<h2>@Model.Name</h2>


<div>
    <h4>Details</h4>
    @if (Model.Files.Any(f => f.FileType == FileType.AttemptImageAnswer))
    {

        <img src="~/File?id=@Model.Files.First(f => f.FileType == FileType.AttemptImageAnswer).FileId" alt="POIImage" />
    }
    <hr />
    <table>
        @foreach (var task in Model.Task)
        {
            <tr>
                <td>@task.TaskText</td> 
                <td>@Html.ActionLink("Answer", "Answer", new { taskId = @task.Id } )</td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
