﻿@model O_ScavProtoType.Model.ImageAttempt

@{
    ViewBag.Title = "Image";
}

<h2>Image</h2>
<h4>@Model.CorrectImage.TaskType.Task.TaskText</h4>

@using (Html.BeginForm("AnswerImage", "POIs", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Image</h4>
        <hr />

        <div class="form-group">
            <div class="col-md-offset-1 col-md-5">
                @Html.Label("Image Attempt")
                <input type="file" name="upload" />
            </div>
        </div>
 
    </div>

    @Html.HiddenFor(model => model.CorrectImage.Id)
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


