<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">
        ol {
            margin: 0;
            padding: 0;
        }

        table td, table th {
            padding: 0;
        }

        .c2 {
            background-color: #ffffff;
            max-width: 468pt;
            padding: 72pt 72pt 72pt 72pt;
        }

        .c0 {
            orphans: 2;
            widows: 2;
            height: 11pt;
        }

        .c1 {
            orphans: 2;
            widows: 2;
        }

        .title {
            padding-top: 0pt;
            color: #000000;
            font-size: 26pt;
            padding-bottom: 3pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left;
        }

        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 15pt;
            padding-bottom: 16pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left;
        }

        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial";
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial";
        }

        h1 {
            padding-top: 20pt;
            color: #000000;
            font-size: 20pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left;
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-size: 16pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left;
        }

        h3 {
            padding-top: 16pt;
            color: #434343;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left;
        }

        h4 {
            padding-top: 14pt;
            color: #666666;
            font-size: 12pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left;
        }

        h5 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left;
        }

        h6 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left;
        }
    </style>
</head>
<body class="c2">
    <div class="registerEmail">
        <p class="c1">
            [name]
        </p>
        <p class="c0">
            <span></span>
        </p>
        <p class="c1">
            <span>Thank you for signing up to use O-Scav! Your registration is almost complete. Please verify your email by clicking on the link below:</span>
        </p>
        <p class="c1">
            <span>{{field_Confirmation}}</span>
        </p>
        <br />
        <p class="c1">
            <span>Please save the following the following link ({{login_URL}}. It will take you to the O-Scav Login</span>
        </p>
        <p class="c1">
            <span>Your login email is: {{field_Email}}</span>
        </p>
        <br />
        <p class="c1">
            <span>Thanks,</span>
        </p>
        <p class="c1">
            <span>The O-Scav Team</span>
        </p>
        <!-- Logo image pointing to relative project path -->
        <p class="c1">
            <img src="../Content/images/OScav-Logo-Small.png"/>
        </p>
    </div>
    <div class="betaRegister">
        <p class="c1">
            &nbsp;</p>
        <p class="c0">
            <span></span>
        </p>
        <p class="c1">
            [<span>name],</span>
        </p>
        <p class="c1">
            &nbsp;</p>&nbsp;<p class="c1">
            <span>You are receiving this email because you stated your interest in trying out O-Scav pre-release. As we continue to develop our product, we will send you updates whenever we add new features to our product. Along the way, we will also sometimes send you surveys about the product so that we can make sure we&rsquo;re on the right track. You can try out the current version of our product here (link on the here). Your feedback will be greatly appreciated!</span></p>
        <p class="c1">
            &nbsp;
        </p>
        <p class="c1">
            <span>Thanks,</span>
        </p>
        <p class="c1">
            <span>The O-Scav Team</span>
        </p>
        <p class="c0">
            <span></span>

            <img src="../Content/images/OScav-Logo-Small.png" alt=""/></p>

    </div>
    <p class="c1">

    </p>
    <p class="c0">
        <span></span>
    </p>
    <p class="c0">
        <span></span>
    </p>
    <p class="c0">
        <span></span>
    </p>
    <p class="c0">
        <span></span>
    </p>
    <p class="c0">
        <span></span>
    </p>
    <p class="c0">
        <span></span>
    </p>
    <p class="c0">
        <span></span>
    </p>
    <p class="c0">
        <span></span>
    </p>
    <p class="c1">
        <span>For our Beta players:</span>
    </p>
    <p class="c1">
        <span>Subject: Welcome to O-Scav!</span>
    </p>
    <p class="c0">
        <span></span>
    </p>
    <p class="c1">
        <span>{{field_Name}},</span>
    </p>
    <p class="c0">
        <span></span>
    </p>
    <p class="c1">
        <span>You are receiving this email because you stated your interest in trying out O-Scav pre-release. Our product is not quite built yet, but we will send you updates about our product. Thank you for your interest, and feel free to email us with any comments or suggestions!</span>
    </p>
    <p class="c0">
        <span></span>
    </p>
    <p class="c1">
        <span>Thanks,</span>
    </p>
    <p class="c1">
        <span>The O-Scav Team</span>
    </p>
    <p class="c0">
        <span></span>
    </p>
    <p class="c1">
        <span>Logo goes here</span>
    </p>
</body>
</html>