﻿@{
    ViewBag.Title = "Coming Soon";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="alert alert-dismissible alert-info">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Under Construction.</strong>
    <br />
    <p>
        Under Construction... <img src="~/App_LocalResources/"/>.
    </p>
</div>
