﻿@model O_ScavProtoType.UI.Models.QuizVM

@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Quiz</h4>
    <i>Please enter the potential answers</i>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.TaskText, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TaskText, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TaskText, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-offset-2">
                    <div class="form-group row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.QuizAnswers.AnswerA, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.QuizAnswers.AnswerA, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.QuizAnswers.AnswerA, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                @Html.Label("Correct Answer", new { @class = "radio-inline" })
                                @Html.RadioButtonFor(model => model.CorrectAnswer, Model.QuizAnswers.AnswerA, new { @id = "CorrectAnswer" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.QuizAnswers.AnswerB, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.QuizAnswers.AnswerB, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.QuizAnswers.AnswerB, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                @Html.Label("Correct Answer", new { @class = "radio-inline" })
                                @Html.RadioButtonFor(model => model.CorrectAnswer, Model.QuizAnswers.AnswerB, new { @id = "CorrectAnswer" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.QuizAnswers.AnswerC, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.QuizAnswers.AnswerC, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.QuizAnswers.AnswerC, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                @Html.Label("Correct Answer", new { @class = "radio-inline" })
                                @Html.RadioButtonFor(model => model.CorrectAnswer, Model.QuizAnswers.AnswerC, new { @id = "CorrectAnswer" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.QuizAnswers.AnswerD, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.QuizAnswers.AnswerD, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.QuizAnswers.AnswerD, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                @Html.Label("Correct Answer", new { @class = "radio-inline" })
                                @Html.RadioButtonFor(model => model.CorrectAnswer, Model.QuizAnswers.AnswerD, new { @id = "CorrectAnswer" })
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.CorrectAnswer, new { @id = "correctAnswerValue" })
                        @Html.HiddenFor(m => m.poiID)
                        @Html.HiddenFor(m => m.Id)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
