﻿@{
    ViewBag.Title = "Coming Soon";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="alert alert-dismissible alert-info">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Under Construction.</strong>
    <br />
    <p>
        Are you a web or cross-platform developer? Do you want to work on innovative stuff or looking to be part of an exciting new startup?
        If so, email us at <a href="mailto:explore@o-scav.com*-*">explore@o-scav.com</a>.
    </p>
</div>
