﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <h2>For Hunt Creators</h2>
            <h3>Fun For Everyone!</h3>
            <p>
                Coming Soon. Contact us at <a href="mailto:explore@o-scav.com*-*">explore@o-scav.com</a> to be among the first to use O-Scav.
            </p>
        </div>
        <div class="col-md-4">
            <h2>For Advertisers</h2>
            <h3>Seamless ads that engage</h3>
            <p>
                Most ads are an interruption to the content that consumers really want. They are something to be “x’d” out of. Our ads are different. With our scavenger hunts, we can integrate ads as just another hunt item among many. That way, the ads feel like they are an integral part of the game. Because they are scavenger hunt items, the ads will also be interactive. Rather than talking at your audience, you will be giving them hints to encourage them to discover your product for themselves. Contact us for more information.
            </p>
        </div>
    </div>
</div>
@*<table class="active">
        <tr>
            <td>
                <h2>For Hunt Creators</h2>
                <h3>Fun For Everyone!</h3>
                <p>
                    Coming Soon. Fill out this form to be among the first to use O-Scav
                </p>
            </td>
            <td>
                <h2>For Advertisers</h2>
                <h3>Seamless ads that engage</h3>
                <p>
                    Most ads are an interruption to the content that consumers really want. They are something to be “x’d” out of. Our ads are different. With our scavenger hunts, we can integrate ads as just another hunt item among many. That way, the ads feel like they are an integral part of the game. Because they are scavenger hunt items, the ads will also be interactive. Rather than talking at your audience, you will be giving them hints to encourage them to discover your product for themselves. Contact us for more information.
                </p>
            </td>
        </tr>
        <tr></tr>
    </table>*@




