﻿@model O_ScavProtoType.UI.Models.ImageVM
@using O_ScavProtoType.Model

@Html.AntiForgeryToken()

<div class="form-group">
    @Html.LabelFor(model => model.TaskText, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.TaskText, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.TaskText, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-horizontal">
    <h4>Image</h4>
    <hr />

    <div class="form-group">

        <div class="col-md-offset-1 col-md-5">
            @Html.Label("Correct Image")
            <input type="file" name="upload" />
        </div>
    </div>

    <div>
        @if (Model.Image.Files.Any(f => f.FileType == FileType.CorrectImageAnswer))
            {

            <img src="~/File?id=@Model.Image.Files.First(f => f.FileType == FileType.CorrectImageAnswer).FileId" alt="CorrectImage" />
        }
    </div>

    @Html.HiddenFor(image => image.poiID)
    @Html.HiddenFor(image => image.Id)
</div>