﻿@model O_ScavProtoType.UI.Models.QuizVM

@{
    ViewBag.Title = "Quiz";
}

<h2>Task</h2>


@using (Html.BeginForm("CreateQuizTask","Hunts"))
{
   @Html.Partial("_QuizForm", Model)

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Quiz.js")
    @Styles.Render("~/Content/Quiz.css") 
    <script type="text/javascript">

        $('#CorrectAnswer').change(function () {
            $('#correctAnswerValue').val($('#QuizAnswers_AnswerA').val())
        })
</script>   
}


