﻿@model O_ScavProtoType.Model.Task

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Task</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.LabelFor(m => m.TaskText)
        <dd>
            @Html.DisplayFor(model => model.TaskText)
        </dd>

    </dl>

    @using (Html.BeginForm("DeleteTaskConfirmed", "Hunts")) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
