﻿@model O_ScavProtoType.Model.Hunt



<h2>@Model.Name</h2>

<div>
    <h4>Hunt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Places of Interest
        </dt>
        @foreach (var mod in @Model.POIs)
        {
            <dd>
                <span>@mod.Name</span> <span>@Html.ActionLink("Tasks", "Details", "POIs", new { id = mod.Id }, null )</span>
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
