﻿@model O_ScavProtoType.UI.Models.ImageVM
@using O_ScavProtoType.Model

@{
    ViewBag.Title = "Image";
}

<h2>Image</h2>

@using (Html.BeginForm("EditImageTask", "Hunts", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
 @Html.Partial("_ImageForm",Model)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
