﻿@model O_ScavProtoType.UI.Models.HuntVM

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Hunt</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Hunt.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Hunt.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hunt.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Hunt.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />

        <h4>POI's</h4>

        <div class="col-md-5">

            <dl>
                @*<dt>
                    Places of Interest
                </dt>*@

                @for (var i = 0; i < Model.pois.Count(); i++)
                {
                    <dd>
                       <span>@Model.pois[i].Name</span>
                        <span class="pull-right">@Html.ActionLink("Edit POI", "EditPOI",new { poiID = Model.pois[i].Id })</span>
                    </dd>
                }
            </dl>

        </div>

        <div class="form-group">
            <div class="col-md-5">
                @Html.EditorFor(model => model.NewPoi.Name, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.NewPoi.Name, "", new { @class = "text-danger" })
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>


    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
