﻿@model O_ScavProtoType.UI.Models.QuizVM

@{
    ViewBag.Title = "Quiz";
}

<h2>Task</h2>


@using (Html.BeginForm("EditQuizTask", "Hunts"))
{

    @Html.Partial("_QuizForm", Model)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Edit" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Quiz.js")
    @Styles.Render("~/Content/Quiz.css")
}


