﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" id="huntArea">
    <div class="col-md-6">
        <button type="button" class="btn-lg btn-primary" id="createHuntButton">@Html.ActionLink("Create Hunt", "Create", "Hunts")</button>
    </div>
    <div class="col-md-6">
        <button type="button" class="btn-lg btn-warning">@Html.ActionLink("Play Hunt", "Index", "Hunts")</button>
    </div>
</div>