﻿@using O_ScavProtoType.Model
@model O_ScavProtoType.UI.Models.PoiVM


<h2>Edit</h2>

@using (Html.BeginForm("EditPOI", "Hunts", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{ @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <h4>POI</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Poi.Id)
        @Html.HiddenFor(model => model.Poi.HuntID)
        <div class="form-group">
            @Html.LabelFor(model => model.Poi.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Poi.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Poi.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Poi.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Poi.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Poi.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-offset-1 col-md-5">
                @Html.Label("Image")
                <input type="file" id="PoiImage" name="upload" />
            </div>
        </div>
        <div>
            @if (Model.Poi.Files.Any(f => f.FileType == FileType.PoiImage))
            {

                <img src="~/File?id=@Model.Poi.Files.First(f => f.FileType == FileType.PoiImage).FileId" alt="POIImage" />
            }
        </div>
        <br />
        <input type="submit" value="Save POI" class="btn btn-default" />


    </div>
}

<hr />

<div>
    <h4>Tasks</h4>

    <div class="col-md-6">

        <div class="bs-example" data-example-id="striped-table">
            <table class="table table-striped">
                <tbody>
                    @for (var i = 0; i < Model.Task.Count(); i++)
            {

                        <tr>
                            <td>@Model.Task[i].TaskText</td>
                            <td>@Html.ActionLink("Edit", "EditTask", new { id = Model.Task[i].Id })</td>
                            <td>@Html.ActionLink("Delete", "DeleteTask", new { id = Model.Task[i].Id })</td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>



    </div>



    <h4>New Task</h4>
    <div class="col-md-6">
        @Html.Label("Task Name")

        @using (@Html.BeginForm("CreateTasks", "Hunts", FormMethod.Get))
        {
            @Html.EditorFor(model => model.NewTask.TaskText, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NewTask.TaskText, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.Label(TaskTypeNum.Image.ToString(), new { @class = "radio-inline" })
                @Html.RadioButtonFor(m => m.taskType, TaskTypeNum.Image)

                @Html.Label(TaskTypeNum.Quiz.ToString(), new { @class = "radio-inline" })
                @Html.RadioButtonFor(m => m.taskType, TaskTypeNum.Quiz)
            </div>

            @Html.HiddenFor(m => m.Poi.Id)
            <input type="submit" value="Create Task" class="btn btn-default" />
        }

        <br />
    </div>

    @Html.ActionLink("Back to List", "Index")


</div>
