﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*bootstrap override*/
.navbar-inverse .navbar-nav>li>a
{
    color: #fff;
}

.navbar {
    font-size: 18px;
    font-family: "News Cycle","Arial Narrow Bold",sans-serif;
    font-weight: 700;
}

/*Hunts Manage*/
#huntArea{
    margin:15%;

}

#huntArea a{
    color:white;
    text-decoration:none;
    letter-spacing:1px;
}

#createHuntButton{
    float:right;
}

.inlineInput{
    display:inline;
}
