﻿@{
    ViewBag.Title = "Register";
}
<head>
    <style>
        th {
            padding: 15px;
        }
    </style>
</head>
<h1>Create a new account.</h1>
<div class="jumbotron">
    <table class="active">
        <h2>
            Sign up as a scavenger hunt builder or a player.
        </h2>
        <tr>
            <th class="info_oscav_th">
                <nav class="btn-group-vertical">
                    <a href="@Url.Action("RegisterPlayer", "Account" )" class="btn btn-primary btn-lg">Sign up As Player</a>
                </nav>
            </th>
            <th class="info_oscav_th">
                <nav class="btn-group-vertical">
                    <a href="@Url.Action("Register", "Account")" class="btn btn-primary btn-lg">Sign up As Builder</a>
                </nav>
            </th>
        </tr>
    </table>
</div>
