﻿@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title</h2>

<div class="jumbotron">
    <h1>About Us</h1>
    <div class="row">
        <p>
            There's nothing as quintessentially human as the act of discovery. At O-Scav, we firmly believe that discovery should always be fun. That's why we've created this platform. Let us help you make finding new things the game it ought to be.
        </p>
    </div>
    <br />
    <h2>O-Scav Team</h2><hr />
    <div class="row">
        <h4>Gregory Sun</h4>
        <p> Gregory Sun student at the University of Chicago. It was here that he got the idea to make it possible for everyone to make their own scavenger hunts. He is proud of his school for holding the world's largest scavenger hunt, but he wouldn't mind if somebody broke that record using O-Scav.</p>
    </div>
    <br />
    <div class="row">
        <h4>Allen Jagoda</h4>
        <p>
            Allen Jagoda is a full-stack cross-platform mobile app and web app developer with a passion for innovation and implementing new technologies in unique and interesting ways. He is working with Gregory and Jim to develop and deploy new features to O-Scav.
        </p>
    </div>
    <div class="row">
        <h4>Jim Castrigano </h4>
        <p>
            Jim Castrigano is a software developer focused on .NET development. He is interested in taking an innovative idea to a meaningful product. He is working with Gregory and Allen to develop and deploy new features to O-Scav.
        </p>
    </div>
</div>
