﻿@model O_ScavProtoType.UI.Models.EmailFormModel
@{
    ViewBag.Title = "For Players";
}
<h2>@ViewBag.Title</h2>

<div class="jumbotron">
    <div class="row">
        <p>
            The game is still in development! Sign up now to get on our list of Beta testers.
        </p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(m => m.FromEmail, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FromEmail)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Sign Up" />
                </div>
            </div>
        }
    </div>

</div>
