﻿@{
    ViewBag.Title = "Home Page";
}
<head>
    <style>
        table, td{
            padding: 15px;
            vertical-align: top;
        }
        .info_oscav_th{
            vertical-align: text-top;
            padding: 10px;
        }
        .buttons_oscav{
            width:400px;
            vertical-align: middle;
            padding: 10px;
        }

    </style>
</head>
<div class="jumbotron" >
    <h1>Explore with O-Scav</h1>
    <h2>Engage your audience through fun and games.</h2>
    <p>
        O-Scav is game that makes discovery fun. Our platform allows you to both build and play your own scavenger hunt style game that will guide you along as you discover new places.
    </p>
    <table class="active">
        <tr>
            <th class="info_oscav_th">
                <h2>For Players</h2>
                <p>
                    Make your next vacation an adventure. Our game will help you discover your destination as you never have before.
                </p>
                <nav class="btn-group-vertical">
                    <a href="@Url.Action("ForPlayers", "Home")" class="btn btn-primary btn-lg">Learn more &raquo;</a>
                </nav>
            </th>
            <th class="info_oscav_th">
                <h2>For Builders</h2>
                <p>
                    Give your audience an unforgettable experience. Whether you are a Destination Marketing Organization who wants to turn their itineraries into a fun game, a tour guide who wants to add a game component to their tours, or an events coordinator who wants to better engage attendees, we have a solution for you.
                </p>
                <nav class="btn-group-vertical">
                    <a href="@Url.Action("ForPlayers", "Home")" class="btn btn-primary btn-lg">Learn more &raquo;</a>
                </nav>
            </th>
        </tr>
    </table>
    <br /><br />
    @*<div>
        <table class="active">
            <tr>
                <td>
                    <ul class="list-group">
                        <li href="#" class="list-group-item active">
                            Clients
                        </li>
                        <li href="#" class="list-group-item">
                            <img src="~/Content/images/logos/yikyak_logo.png" style="width:64px; height:64px" />
                            <a target="_blank" href="http://www.yikyakapp.com/">YikYak</a>

                        </li>
                        <li class="list-group-item">
                            <img src="~/Content/images/logos/mindsumo_logo.png" style="width:64px; height:64px" />
                            <a target="_blank" href="https://www.mindsumo.com/">MindSumo</a>

                        </li>
                        <li class="list-group-item">
                            <img src="~/Content/images/logos/uc_logo.jpg" style="width:64px; height:64px" />
                            <a target="_blank" href="http://www.uchicago.edu/">University of Chicago</a>

                        </li>
                        <li class="list-group-item">
                            <img src="~/Content/images/logos/hydepark_logo.jpg" style="width:64px; height:64px" />
                            <a target="_blank" href="http://www.hydeparkchamberchicago.org/">Hyde Park Chamber of Commerce</a>

                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>*@
</div>